@import '../themes/netcentric/netcentric';

nav {
  ul {
    padding-left: 10px;
  }

  li {
    display: inline-block;
  }
}

main {
  margin: 8px 10px;
}

.title-box {
  @include theme-background;

    position: relative;
    color: #fff;
    height: 280px;

    h1 {
      font-style: italic;
      font-size: $font-size-headline-primary;
      top: 3px;
      left: 10px;
      position: absolute;
      margin: 0;
    }

    h3 {
      top: 113px;
      position: absolute;
      left: 46px;
      font-size: $font-size-headline-primary;
      margin: 0;
    }
}

.img-box {
  background-image: url('themes/netcentric/title.small.png');
  background-repeat: no-repeat;
  height: 280px;
}

.home {
  a {
    color: $c-primary-lighter;
  }
}

.section-shop {
  h2 {
    color: $c-primary-lighter;
    font-size: $font-size-headline-component;
    font-weight: 100;
  }

  ol {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      border: 1px dashed #e0e0e0;
      padding: 10px 10px 0;

      h3 {
        margin: 0;
        font-weight: $font-weight-bold;
      }

      .box-text {
        margin: $vertical-rythm-spacing-text 0;
      }
    }
  }
}

.section-shop {
  footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      margin: 0;
    }

    button {
      @include text-button;
    }
  }
}

