@import '../themes/netcentric/netcentric';

nav {
  ul {
    padding: 0 0 0 10px;
    margin: $vertical-rythm-spacing-component 0;
  }

  li {
    display: inline-block;
  }
}

main {
  margin: 0 0 $vertical-rythm-spacing-component;
}

.title-box {
  @include theme-background;

    position: relative;
    color: #fff;
    height: 280px;

    h1 {
      font-style: italic;
      font-size: $font-size-headline-primary;
      top: 3px;
      left: 10px;
      position: absolute;
      margin: 0;
    }

    h3 {
      top: 113px;
      position: absolute;
      left: 46px;
      font-size: $font-size-headline-primary;
      margin: 0;
    }
}

.img-box {
  background-image: url('themes/netcentric/title.small.png');
  background-repeat: no-repeat;
  height: 280px;
}

.home {
  a {
    color: $c-primary-lighter;
  }
}

.section-shop {
  margin: 0 10px;

  h2 {
    font-size: $font-size-headline-component-large;
    color: $c-primary;
    font-weight: $font-weight-regular;
    margin: 0;
  }

  .dashed-box {
    margin-bottom: 10px;
    border: 1px dashed $c-secondary-darker;
    padding: 10px 10px 0;
  }

  ol {
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px 10px 0;
      border: 1px dashed $c-secondary-darker;
      padding: 10px 10px 0;

      h3 {
        margin: 0;
        font-weight: $font-weight-bold;
      }

      .box-text {
        margin: $vertical-rythm-spacing-text 0;
      }
    }
  }
}

.section-shop {
  footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p {
      margin: 0;
    }

    button {
      @include text-button;
    }
  }
}

.section-shoppingcart {
  margin: 0 10px;
  background-color: #f7f7f7;
  padding: 20px;

  h2 {
    font-size: $font-size-headline-component-large;
    margin: 0 0 $vertical-rythm-spacing-text;
    color: $c-primary;
    font-weight: $font-weight-regular;
  }
}

.shoppingcart-form {
  .tex-ali-lef {
    text-align: left;
  }

  .tbl-title {
    font-size: $font-size-table-header;
    color: $c-primary;
    font-weight: $font-weight-regular;
  }

  input[type='number'] {
    width: 26%;
  }

  button[aria-label='decrease'],
  button[aria-label='step up'] {
    @include cart-button;

    font-size: 12px;
    padding: 4px 8px;
  }

  .rem-btn {
    @include text-button;
  }

  .line-sep {
    width: 100%;
    height: 1px;
    background: $c-secondary-darker;
    margin-top: 5px;
  }

  tfoot {
    output {
      font-weight: $font-weight-bold;
    }

    td {
      text-align: right;
    }

    ol {
      list-style: none;
      padding: 0;
    }

    output {
      min-width: 75px;
      display: inline-block;
    }

    .tot-pai {
      font-size: $font-size-final-output;
      color: $c_primary;
      font-weight: $font-weight-bold;
    }
  }

  footer {
    a {
      color: $c-primary;
    }

    button {
      @include cart-button;

      margin-left: 5px;
    }
  }
}

.bottom-footer {
  @include theme-background;

  padding: $vertical-rythm-spacing-text 0;
  display: flex;

  a {
    @include link-with-logo;

    font-size: $font-size-headline-primary;
    margin: 0 5px;
  }

  span {
    color: $c-secondary;
    font-weight: $font-weight-bolder;
  }
}

@media screen and (min-width: 600px) {
  .img-box {
    background-image: url('themes/netcentric/title.small.2x.png');
    background-repeat: no-repeat;
    height: 350px;
    background-size: 100% 783px;
  }

  .title-box {
    height: 350px;

    h3 {
      top: 136px;
      left: 160px;
    }
  }
}

//media queries
@media screen and (min-width: 1300px) {
  .img-box {
    background-image: url('themes/netcentric/title.large.png');
    background-repeat: no-repeat;
    height: 350px;
    background-size: 100% 527px;
  }

  .title-box {
    height: 350px;

    h3 {
      left: 112px;
    }
  }

  nav {
    ul {
      padding: 0 0 0 40px;
    }
  }

  main {
    display: flex;
  }

  article.section-shop {
    margin-left: 40px;
  }

  article.section-shoppingcart {
    margin-right: 40px;
  }

  .section-shop {
    ol {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
    }

    li {
      width: 370px;
    }
  }
}

