@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  text-size-adjust: 100%; }

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300; }

body {
  margin: 0; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1180px;
  box-sizing: border-box; }

.is-hidden {
  display: none; }

.is-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px); }
  .is-visually-hidden.is-focusable:focus {
    position: static;
    clip: auto; }

nav ul {
  padding: 0 0 0 10px;
  margin: 30px 0; }

nav li {
  display: inline-block; }

main {
  margin: 0 10px 30px 10px; }

.title-box {
  background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
  position: relative;
  color: #fff;
  height: 280px; }
  .title-box h1 {
    font-style: italic;
    font-size: 30px;
    top: 3px;
    left: 10px;
    position: absolute;
    margin: 0; }
  .title-box h3 {
    top: 113px;
    position: absolute;
    left: 46px;
    font-size: 30px;
    margin: 0; }

.img-box {
  background-image: url("themes/netcentric/title.small.png");
  background-repeat: no-repeat;
  height: 280px; }

.home a {
  color: #7b64e2; }

.section-shop h2 {
  font-size: 35px;
  color: #311b92;
  font-weight: 300;
  margin: 0; }

.section-shop ol {
  list-style: none;
  padding: 0; }
  .section-shop ol li {
    margin-bottom: 10px;
    border: 1px dashed #cccccc;
    padding: 10px 10px 0; }
    .section-shop ol li h3 {
      margin: 0;
      font-weight: 400; }
    .section-shop ol li .box-text {
      margin: 10px 0; }

.section-shop footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }
  .section-shop footer p {
    margin: 0; }
  .section-shop footer button {
    box-shadow: none;
    background-color: transparent;
    transition: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: #311b92;
    font-size: 16px; }
    .section-shop footer button:hover {
      cursor: pointer; }

.section-shoppingcart {
  background-color: #f7f7f7;
  padding: 20px; }
  .section-shoppingcart h2 {
    font-size: 35px;
    margin: 0 0 10px;
    color: #311b92;
    font-weight: 300; }

.shoppingcart-form .tex-ali-lef {
  text-align: left; }

.shoppingcart-form .tbl-title {
  font-size: 25px;
  color: #311b92;
  font-weight: 300; }

.shoppingcart-form input[type='number'] {
  width: 22%; }

.shoppingcart-form button[aria-label='decrease'],
.shoppingcart-form button[aria-label='step up'] {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: #311b92;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px; }
  .shoppingcart-form button[aria-label='decrease']:hover,
  .shoppingcart-form button[aria-label='step up']:hover {
    cursor: pointer; }
  .shoppingcart-form button[aria-label='decrease']:hover, .shoppingcart-form button[aria-label='decrease']:focus,
  .shoppingcart-form button[aria-label='step up']:hover,
  .shoppingcart-form button[aria-label='step up']:focus {
    background: #7b64e2; }

.shoppingcart-form .rem-btn {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  color: #311b92;
  font-size: 16px; }
  .shoppingcart-form .rem-btn:hover {
    cursor: pointer; }

.shoppingcart-form .line-sep {
  width: 100%;
  height: 1px;
  background: #cccccc;
  margin-top: 5px; }

.shoppingcart-form tfoot output {
  font-weight: 400; }

.shoppingcart-form tfoot td {
  text-align: right; }

.shoppingcart-form tfoot ol {
  list-style: none;
  padding: 0; }

.shoppingcart-form tfoot output {
  min-width: 75px;
  display: inline-block; }

.shoppingcart-form tfoot .tot-pai {
  font-size: 22px;
  color: #311b92;
  font-weight: 400; }

.shoppingcart-form footer a {
  color: #311b92; }

.shoppingcart-form footer button {
  box-shadow: none;
  background-color: transparent;
  transition: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: #311b92;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  margin-left: 5px; }
  .shoppingcart-form footer button:hover {
    cursor: pointer; }
  .shoppingcart-form footer button:hover, .shoppingcart-form footer button:focus {
    background: #7b64e2; }

.bottom-footer {
  background: linear-gradient(-22deg, #7b64e2 30%, #311b92 100%);
  padding: 10px 0;
  display: flex; }
  .bottom-footer a {
    display: inline-block;
    color: transparent;
    background-image: url("themes/netcentric/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 20px;
    height: 38px;
    font-size: 30px;
    margin: 0 5px; }
    .bottom-footer a:link, .bottom-footer a:visited {
      color: transparent; }
  .bottom-footer span {
    color: #fff;
    font-weight: 600; }
